################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Facultad Clases/.vs/Lamas Juan Pablo/v15
